body
{
	font-family: Arial, Helvetica, sans-serif;
}

.header
{
	background-color: #003399;
	color: #FFFFFF;
	font-family: 'Times New Roman' , Times, serif;
	height:30px;
	padding:4px 0 0 36px;
}
.header .title
{
	font-size:24px;
}
.header .subtitle
{
	font-size:12px;
}
.brand-title {
    font-size:18px;
    color: #e3c3b4;
    font-family: tahoma,arial,helvetica,sans-serif;
    font-weight: bold;
}
.brand-title.prod {
    font-size:18px;
    color: #A6ABBF;
    font-family: tahoma,arial,helvetica,sans-serif;
    font-weight: bold;
}
.brand-logo {
    background-image: url(../images/eas-logo.png);
    background-position: 0 6px ;
    background-repeat: no-repeat;
}
.x-mask {
    filter: alpha(opacity=60) !important;
    opacity: .6 !important;
}

.approval{
	padding-left: 50px; 
	padding-right: 50px; 
	font-weight: bold; 
	font-size: 10px;
}
.approved
{
	background-color: rgb(23, 154, 38); 
	color: rgb(255, 255, 255); 
}
.disapproved
{
	background-color: rgb(174, 18, 23); 
	color: rgb(255, 255, 255); 
}
.review
{
	background-color: rgb(255,190,0); 
	color: rgb(0, 0, 0);
}

table.reportgrid 
{
    padding:1px;
	border:1px solid transparent;
	border-collapse:collapse;
}
table.reportgrid th 
{
	background-color:#EEEEEE;
	border:1px solid #C3C3C3;
	padding:3px;
}

.search-item {
	border-color:#FFFFFF #FFFFFF #EEEEEE;
	border-style:solid;
	border-width:1px;
	font-family:arial,tahoma,helvetica,sans-serif;
	font-size:11px;
	padding:2px;
}

.x-btn-pressed.fgi-search-btn .x-btn-text {
    font-weight:bold; 
    color:	#000099;
}

.fgi-search-btn .x-btn-tl{
    background: none;
}

.fgi-search-btn .x-btn-tc{
    background: none;
}

.fgi-search-btn .x-btn-tr{
    background: none;
}

.fgi-search-btn .x-btn-ml{
    background: none;
}

.fgi-search-btn .x-btn-mc{
    background: none;
}

.fgi-search-btn .x-btn-mr{
    background: none;
}

.fgi-search-btn .x-btn-bl{
    background: none;
}

.fgi-search-btn .x-btn-bc{
    background: none;
}

.fgi-search-btn .x-btn-br{
    background: none;
}

.fgi-search-box .x-panel-btns-ct
{
    padding: 0px;
}
.fgi-search-box .x-panel-bc .x-panel-footer
{
    padding-bottom: 1px;
}
.fgi-search-box .x-panel-mc
{
    padding: 0px 0px 0px;
}
.fgi-search-box .x-panel-btns-ct table td.x-panel-btn-td
{
    padding: 1px;
}
.fgi-search-box .x-form-item
{
    margin-bottom: 0px;
}

.search-result-title {
    font-weight:bold;
    font-size:13px;
    color:#15428B;
}

.search-result-title.retired {
    color: #777777;
}
span.retired {
    color: #777777;   
}

.address-report
{
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -x-system-font:none;
    background:#DFE8F6 none repeat scroll 0 0;
    font-family:tahoma,arial,helvetica,sans-serif;
    font-size:11px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
}

.address-report-loading{
    color:#222222;
    font:11px tahoma,arial,helvetica,sans-serif;
    background:url("../ui_frameworks/extjs-4.1.0/resources/themes/images/default/grid/loading.gif") no-repeat scroll 5px 5px #FBFBFB;
    line-height:16px;
    padding:5px 10px 5px 25px;
}

.address-report-retired {
    padding: 10px 10px 10px 10px;
}


.cluster-report .x-grid-scroller {
    height: 224px;
}

.x-grid-cell-inner, .x-grid-hd-inner {
  white-space: normal; /* changed from nowrap */
}

.delete-set-icon {
	background-image: url(../images/delete-icon-small.png) !important;
}


.insert-below-icon {
	background-image: url(../images/add-icon-small.png) !important;
}

.show-on-map-icon {
	background-image: url(../images/map-icon-small.png) !important;
}


.x-accordion-hd 
{
    cursor:pointer;
}

.base-address-selected .x-panel-tl .x-panel-header {
    color:green;
    font-size:12px;
}

.x-form-display-field{
    padding-top: 3px;
}

.addresses-panel .x-panel-mc {
    padding: 0px 0px 0px 0px;
}

.addresses-panel .x-panel-ml {
    padding: 0px 0px 0px 1px;
}

.addresses-panel .x-panel-mr {
    padding: 0px 1px 0px 0px;
}


.x-form-item-label em {
    color: red;
}

.red-row{ background-color: #F5C0C0 !important; }
.yellow-row{ background-color: #FBF8BF !important; } 
.green-row{ background-color: #99CC99 !important; }

/*
 patch for http://code.google.com/p/eas/issues/detail?id=401
 This will probably go away with extjs upgrade
*/
.ext-el-mask {
    z-index: 20000;
    position: absolute;
    top:0;
    left:0;
    -moz-opacity: 0.35;
    opacity: .35;
    filter: alpha(opacity=50);
    background-color: #CCC;
    width: 100%;
    height: 100%;
    zoom: 1;
}

/*
  http://code.google.com/p/eas/issues/detail?id=415
  http://www.sencha.com/forum/showthread.php?43419-Checkbox-labels-in-Checkboxgroup-wrapping/page2
*/
.x-form-check-group .x-form-check-wrap,
.x-form-radio-group .x-form-radio-wrap {
    white-space: nowrap;
}

.x-form-reminder-msg {
    padding:2px;
    padding-left:18px;
    font:normal 11px tahoma,arial,helvetica,sans-serif;
    background:transparent url(../ui_frameworks/extjs-4.1.0/resources/themes/images/default/shared/warning.gif) no-repeat 0 2px;
    line-height:16px;
    width:200px;
}

.unit-address-panel .x-grid-row-selected {
    color: green;    
}

.validation-none-msg {
}

.validation-information-msg {
    padding-left:18px;
    font:normal 11px tahoma,arial,helvetica,sans-serif;
    background:transparent url(../images/silk/icons/information.png) no-repeat 0 0px;
    line-height:16px;
    width:200px;
}

.validation-warning-msg {
    padding-left:18px;
    font:normal 11px tahoma,arial,helvetica,sans-serif;
    background:transparent url(../images/silk/icons/error.png) no-repeat 0 0px;
    line-height:16px;
    width:200px;
}

.validation-critical-msg {
    padding-left:18px;
    font:normal 11px tahoma,arial,helvetica,sans-serif;
    background:transparent url(../images/silk/icons/exclamation.png) no-repeat 0 0px;
    line-height:16px;
    width:200px;
}

span.validation-msg {
    padding: 2px 2px 2px 18px;
}

.validation-column .x-grid-cell-inner {
   padding: 0px 6px 0px;
}

.check-column-disabled {
    background-color: #EEEEEE;
}

.x-item-disabled.check-column-disabled {
    background-color: #E5E5E5;
}

.popup-anchor {
    background-image: url('../images/anchor.png'); 
    background-position:50% 0, 0 0;
    background-position-x: 50%;
    background-repeat:no-repeat;
}
.x-grid-checkcolumn {
    height: 13px;
    width: 13px;
    margin: auto;
    background-image: url('../ui_frameworks/extjs-4.1.0/resources/themes/images/default/form/checkbox.gif');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
}

.x-grid-checkcolumn-checked {
    background-position: 0 -13px;
}

.x-grid-checkcolumn.x-item-disabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.30;
}

.ie-column-disabled {
    background-color:black;
}

.action-icon {
    height: 16px;
}

/* http://code.google.com/p/eas/issues/detail?id=701 */
.x-item-disabled .x-form-item-label,
.x-item-disabled .x-form-field,
.x-item-disabled .x-form-cb-label {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
}

.olImageLoadError{
    display: none !important;
}