<div style="padding:3px 3px 3px 5px; color:rgb(120, 120, 120); font-weight:bold; font-size:12px;">Location and Geographic Coordinates:</div>
<table style="width:100%; padding-top:5px; color:rgb(120, 120, 120);"><tbody>
	<tr>
		<td valign="top">
			<table style="width: 100%;"><tbody>
				<tr>
					<td style="padding-top:3px; font-weight:bold;" colspan="4">Coordinates:</td>
				</tr>
				<tr>
				    <td valign="top">Longitude: </td>
				    <td valign="top" style="width:20%; color:#15428B;">{{ coordinates.long }}</td>
				    <td valign="top">Latitude: </td>
				    <td valign="top" style="width:80%;"><span style="color:#15428B;">{{ coordinates.lat }}</span> (WGS84)</td>
				</tr>
				<tr>
					<td valign="top">Easting: </td>
				    <td valign="top" style="width:20%; color:#15428B;">{{ coordinates.easting }}</td>
				    <td valign="top">Northing: </td>
				    <td valign="top" style="width:80%;"><span style="color:#15428B;">{{ coordinates.northing }}</span> (CA, Zone III, NAD83)</td>
				</tr>
			</tbody></table>
		</td>
	</tr>
</tbody></table>
<div style="padding:3px; color: rgb(120, 120, 120);">
    {% if aliases %}
    <div style="font-weight:bold; font-size:12px;">Aliases and alternate street names:</div>
        {% for alias in aliases %}
        <div style="color: rgb(21, 66, 139);">{{ alias.alias }}</div>
        {% endfor %}
    {% else %}
    <div style="font-weight:bold; font-size:12px;">No aliases or alternate street names were found for this address.</div>
    {% endif %}
</div>