This is there we programtically put messages that are shown to users in these different cases.

1) We are in maintenance mode
Sorry! EAS is temporarily unavailable. We should be back up shortly.

2) User has navigatred to the San Deigo data center and we are running from the San Francisco data center.
EAS is currently running from the San Francisco Center. To access the site, click <a href="http://10.250.60.195/">here</a>.

3) User has navigatred to the San Franciso data center and we are running from the San Diego data center.
EAS is currently running from the San Diego Center. To access the site, click <a href="http://209.126.178.76/">here</a>.
